/*

div:first-child {
}

div {

}
div:hover {

}
*/

body {
    min-width:300px;
    height: 100%;
    padding-bottom:0px !important;
}
#logo{
	max-width: 75%;
	filter:invert(100%);
}

#pink_button{
	background-color:#17A111;
	/*transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);*/
	color:white;
	width: 80%;
	margin-bottom: 1rem;
	border-radius: 0px;
  transition:all 0.5s ease;
  border-radius: 5px;

	
}

#pink_button:hover{
	background: #9c27b0;
	border-color: #9c27b0;
	color:white;


}

#email{
	max-width: 80%;  
	margin: 0 0; 
	display: inline-block;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-color: gray;
	border-left-width: 0px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

}
#pwd{
	max-width: 80%;  
	margin: 0 0; 
	display: inline-block;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-color: gray;
	border-left-width: 0px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

}
#mail_icon_div{

	margin:0px; 
	display: inline-block;
	border-color: gray;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	padding-top:0.651rem;
	padding-bottom: 0.55rem;
	margin-right: -5px;

	border-width: 1px;
	border-style: solid;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right-width: 0px;
}










